<div class="hero-unit">
    <h1>Rails!!! Yeah!!!</h1>
    <p>Cool... Twitter bootstrap is awesome....</p>
    <p>
    <a class="btn btn-primary btn-large">
    	Learn more
    </a>
    </p>
</div>



